#!/bin/sh

{{ if eq .chezmoi.hostname "nixos-laptop"}}
# NixOS Laura's laptop
echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_laptop.nix /etc/nixos/configuration.nix
echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_laptop.nix"
sudo nixos-rebuild switch
{{ end }}
