#!/bin/sh

# NixOS Laura's laptop
{{ if eq .chezmoi.hostname "nixos-laptop"}}

echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_laptop.nix /etc/nixos/configuration.nix

echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_laptop.nix"
sudo nixos-rebuild switch

{{ end }}


# NixOS Luca's gaming workstation
{{ if eq .chezmoi.hostname "nixos-gaming"}}

echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_gaming.nix /etc/nixos/configuration.nix

echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_gaming.nix"
sudo nixos-rebuild switch

{{ end }}


# Acer mini laptop, old machine
{{ if eq .chezmoi.hostname "nixos-acer"}}

echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_acer.nix /etc/nixos/configuration.nix

echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_acer.nix"
sudo nixos-rebuild switch

{{ end }}


# Mac Mini late 2012
{{ if eq .chezmoi.hostname "nixos-macmini"}}

echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_macmini.nix /etc/nixos/configuration.nix

echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_macmini.nix"

echo "Add unstable channel"
sudo nix-channel --add https://nixos.org/channels/nixos-unstable nixos-unstable
sudo nix-channel --update

sudo nixos-rebuild switch

{{ end }}


# HP 800 G3
{{ if eq .chezmoi.hostname "hp800g3"}}

echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_hp800g3.nix /etc/nixos/configuration.nix

echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_hp800g3.nix"

sudo nixos-rebuild switch

{{ end }}


# Zimaboard 232
{{ if eq .chezmoi.hostname "zimaboard"}}

echo "Replace configuration.nix"
sudo rm -rf /etc/nixos/configuration.nix
sudo ln -s /home/{{ .chezmoi.username }}/.config/nixos/configuration_zimaboard.nix /etc/nixos/configuration.nix

echo "Now using: /home/{{ .chezmoi.username }}/.config/nixos/configuration_zimaboard.nix"

sudo nixos-rebuild switch

{{ end }}


# Surface Laptop 3
{{ if eq .chezmoi.hostname "SL3"}}

# Install Helpers from Repo

echo "Installing yay and paru from CachyOS repository..."
# In CachyOS we can just use pacman
sudo pacman -S --needed --noconfirm yay paru
echo "yay and paru installed."

# --- Package List ---

PACKAGES=(
    # Essential
    "bitwarden"
    "bitwarden-cli"
    "chezmoi"
    "git"
    "github-cli"


    # Terminal
    "bat"
    "btop"
    "encfs"
    "eza"
    "htop"
    "ncdu"
    "powertop"
    "starship"
    "tmux"
    "zozide"

    # Apps
    "brave-bin"
    "firefox"
    "vscodium"

    # Gaming
    "steam"

    # Comms
    "telegram-desktop"

    # Archive tools
    "zip" "unzip" "p7zip" "tar" "file-roller" "peazip"

    # Editors
    "helix"
    "vim"

    # Others
    "gimp"
    "kiro-ide"
    "libreoffice-fresh"
    "libreoffice-fresh-en-gb"
    "libreoffice-fresh-fr"
    "libreoffice-fresh-it"
    "logseq-desktop-bin"
    "ticktick"
)

echo "Installing user packages list..."

# Set Package Manager (We know yay is installed now)
PACKAGE_MANAGER="yay"

# Flatten array to string
PKG_LIST="${PACKAGES[*]}"

# Install
$PACKAGE_MANAGER -S --needed --noconfirm $PKG_LIST

echo "All packages installed successfully!"

{{ end }}